*{
    margin: 0;
    border: 0;
}
.navbar{
    background-color: aqua;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    margin: 10px 10px;
    
}
body{
    background-color: aqua;
}
h1{
    text-align: center;
    justify-content: center;
    text-shadow: 10px;
}